@font-face {
    font-family: 'Karla';
    src: url('./assets/fonts/Karla-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Bold.ttf');
    font-weight: 700;
}
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
   
    
}
::selection{
    background-color: none;
}
.container{
    background-color: #222;
    
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    min-height: 600px;
    overflow-y:auto;
}
.start-container,.load-container,.error-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.error-container{
    color: white;
}
.quiz-container{
    
    width:60%;
    max-width: 1000px;
    display:grid;
    grid-template-rows: repeat(6,1fr);
    color:white;
    
}
.loading{
    color:white;
}
.center-box{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question-container,.button-container{
    height: calc(100vh/6);
    min-height: 100px;
    width:100%;
}
.question-container{
    border-bottom: 1px solid white;
}
.answers-container{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 0.95rem;
    font-weight: 500;

    margin-top: 1.5%;
    
}
.question{
    text-align: center;
    font-family: 'Karla',sans-serif;
    font-weight: 700;
    cursor:default;
}
.answer-selected,.answer-not-selected,.answer-correct,.answer-incorrect,.answer-none{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    padding: 0.2em 1.15em;
    margin:0 0.4%;
    border: 0.794239px solid #F3F3F3;
    border-radius: 7.94239px;

    cursor: pointer;
}
.answer-selected{
    background-color: #116FD0;
}
.answer-not-selected,.answer-none{
    background: none;
}
.answer-correct{
    background-color: green;;
}
.answer-incorrect{
    background-color: red;
}
.answer-not-selected:hover{
    background-color: rgb(17, 112, 208,0.6);
}
.btn{
    
    aspect-ratio: 3.8;
    border-radius: 1rem;
    cursor: pointer;
}

.start-btn{
    width:clamp(190px,40%,250px);
    background: linear-gradient(180deg, #FFEFBA -131.73%, #F3F3F3 100%, #F3F3F3 100%);
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
    font-size: 1.3rem;
    
}
.check-btn{
    width:clamp(120px,50%,200px);
    background-color: #F3F3F3;
}
.check-btn:disabled{
    border: 2px solid rgba(243, 243, 243,0.1);
    background-color: rgba(243, 243, 243,0);
    color:rgba(255,255,255,0.7);
}
.logo{
    width: clamp(152px,32%,200px);
}


/* Media Queries */
@media (max-width:767.98px) {
    
    .quiz-container{
        display: block;
        width: 80%;
        min-height: 550px;
    }
    .answers-container{
        margin-top: 6%;
        font-size: 0.85rem;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 0.35em;
    }
   
    .question-container,.button-container{
        height: calc(33%);
    }
    .question{
        font-size: 0.9em;
    }
}
